@charset "utf-8"

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 3.0rem;
    
}

div{
    background-color:#96b49c;
    align-items: center;
    text-align: center;
    justify-content: center;
}

nav{
    background:#5b5847 ;
    height: 80px;
    display: flex;
    justify-content: space-around;
}